body {
    position: absolute;
    width: 100%;
    height: 100%;
}
#content {
	width: 100%;
	height: 100%;
}
.basic-page {
	width: 100%;
	height: 100%;
}
.header-panel {
	height: 60px;
	width: 100%;
	background: #ddd;
}
.body-panel {
	height: calc(100% - 60px);
	width: 100%;
}
.container.flex {
	height: 100%;
}
.container.flex:before,
.container.flex:after {
	content: none;
}
.user-info-panel {
	margin-left: 7px;
}
.user-info-panel .user-name {
	font-weight: 500
}
.user-info-panel .user-email {
	font-style: italic;
}
.header-search-box-panel input {
	border-radius: 30px;
	min-width: 200px
}
.user-panel .dropdown-menu .item {
    width: 100%;
    display: block;
    padding: 7px;
}
.tabs-panel {
	padding-top: 10px;
}

.dropdown-menu .dropdown-item {
	width: 100%;
	display: block;
	border: none;
	background: white;
	padding: 7px 10px;
}

.import-video-page {
	padding: 12px 0;
}

.create-video-popup .item {
	margin-bottom: 12px;
    display: flex;
    align-items: center;
}
.create-video-popup .item label {
	width: 150px;
	text-align: left;	
}

.import-video-page .video-item {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 12px;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 8px;
}
.import-video-page .video-item image {
	cursor: pointer;
}
.import-video-page .video-item image:hover {
	background: #ddd;
}
.import-video-page .video-item .title {
	font-weight: 500;
	margin-bottom: 4px;	
}
.import-video-page .video-item img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}
#content .content-panel {
    background: black;
    padding: 16px;
}